body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  align-items: center;
}

nav {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
figcaption {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
p {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#details {
  display: flex;
  background-color: red;
  height: 20;
  width: 50;
  z-index: 50;
  justify-content: space-evenly; 
}
br {
  display: inline-;
}